body {
    background-color: rgb(217, 235, 235);
    align-content: center;
}
    .header_nv {
        position: relative;
        padding: 2%;
        border: solid 10px rgb(152, 177, 189);
        background-color:rgb(217, 235, 235);
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        height:150px;
        margin: 5%;
        width: 80%;
       align-items: center;
       display: grid;
       grid-template-columns: 25% 55% 10% 10%;
    }
        .incons{
            display: inline;
            position: relative;
            margin: 5px;
            float: left;
            padding: 5%;
        
        }
        #nombreWeman {
            font-family: Arial, Helvetica, sans-serif;
            color: 323D37;
            font-size: 70%;
        }
        
        #user_logo{
            align-self: auto;
        }
        
        


    .content {
        position: relative;
        padding: 2%;
        border: solid 5px rgb(50, 74, 95);
        background-color:rgb(152, 179, 179);
        margin: 5%;
        width: 80%;
        height: 140px;
       align-items: center;
       display: grid;
       font-size: 40px;
       grid-template-columns: 70% 30%;
       font-family: Arial, Helvetica, sans-serif;
    }


    .img_notice_container {
        background-color: rgb(18, 72, 104);
        height: 80%;
        align-content: space-around;
        padding: 2%;
        position: relative;
    }

    .title_notice{
        font-size: 60%;
        display: inline;
        text-align-last: right;

    }

    .date {
        font-size: 30%;
        display: inline;
    }

    .noticia_resumen {
        font-size: 30%;
    }

    .autor {
        font-size: 30%;
        display: inline;
    }

    /* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }

  /* Estilos para modal de inicio */

  /* Estilos para botón */
  .button1 , .button2 {
    border: none;
    background-color: rgb(217, 235, 235);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
    padding: 4px;
    cursor: pointer;
  }


  

  /* Modal styles
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }